body {
    background-color: #f6f6f6;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-login {
    background-color: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
    width: 500px;
    padding: 32px;
}

.box-login .h2-cont {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}
.box-login .h2-cont img {
    width: 50%;
}

.box-login .input-group {
    margin-bottom: 16px;
}

.box-login .btn-success {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #e82888;
    border-color: #e82888;
}

.box-login .text-center {
    text-align: center;
}

.box-login .btn-primary {
    width: 100%;
    background-color: #70B52F;
    border-color: #70B52F;
}


/* Style props to register/sign up interface */
.box-register {
    background-color: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
    width: 500px;
    padding: 32px;
}

.box-register .h2-cont {
    text-align: center;
    margin-bottom: 32px;
}

.box-register .input-group {
    margin-bottom: 16px;
}

.box-register .btn-register {
    width: 100%;
    margin-top: 32px;
    background-color: #70B52F;
    border-color: #70B52F;
}

.box-register .lb-mleft {
    margin-left: 12%;
}
.box-register .inline-label {
    width: 40%;
}
.box-register .inline-input {
    margin-right: 32px;
}

